!.eslintrc.js
!**/.eslintrc.js
dist
**/dist
**/dist/**
/node_modules
**/node_modules/**
.out
public
coverage

.cache
**/.next
.yarn/**

**/temp/**
**/tmp/**

pnpm-lock.yaml
/pnpm-lock.yaml
.pnpm-store/

**/fixtures/**
